* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Josefin Sans', sans-serif;

    background: black;
    position: relative;
    overflow: hidden;
    width: 1024px;
    height: 720px;
}
#message1, #message2{
    background-image: url(images/geometric-leaves.png);
    background-repeat: repeat;
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    h1{
        font-size: 32px;
        text-align: center;
        margin: 300px auto;
    }

}
#message_1_1, #message_1_2{
    opacity: 0;
}
// ----------SCENE-01----------
#scene1 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
}
// Soleil (positionnement)
#soleil {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 1200px;
    background-image: radial-gradient(#ffbb00, rgba(255, 166, 0, 0));
}
// Ciel se couvre (arrière-plan dégradé)
#cielNuageux {
    height: 70vh;
    background-image: radial-gradient(#fffee0 5%, #ffbfbf 10%, #9ac9ff 25%, #121155 60%, #3b3e47 75%);
    background-position: 25% 100%;
    background-size: 1600% 800%;
    animation: soleilCouche 5s linear;
}
/* Animation couché de soleil en arrière-plan (dégradé) */
@keyframes soleilCouche {
    from {
        background-position: 45% 40%;
        background-size: 300% 800%;
    }
    to {
        background-position: 25% 100%;
        background-size: 1600% 800%;
    }
}
/* Sol et ombrage au sol */
#sol {
    height: 30vh;
    background-image: radial-gradient(#003324 5%, #000000 75%);
    background-position: 50% 20%;
    background-size: 150% 150%;
    animation: solOmbre 5s linear;
}
@keyframes solOmbre {
    0% {
        background-image: radial-gradient(#9dff00 5%, #1c3a18 75%);
    }
    10% {
        background-image: radial-gradient(#8ee600 5%, #1c3a18 75%);
    }
    20% {
        background-image: radial-gradient(#78c200 5%, #1c3a18 75%);
    }
    30% {
        background-image: radial-gradient(#395c00 5%, #1c3a18 75%);
    }
    40% {
        background-image: radial-gradient(#3a5e00 5%, #1c3a18 75%);
    }
    50% {
        background-image: radial-gradient(#243a00 5%, #1c3a18 75%);
    }
    60% {
        background-image: radial-gradient(#1f3300 5%, #143110 75%);
    }
    70% {
        background-image: radial-gradient(#003314 5%, #14360f 75%);
    }
    80% {
        background-image: radial-gradient(#002710 5%, #0b2707 75%);
    }
    90% {
        background-image: radial-gradient(#003314 5%, #061b03 75%);
    }
    100% {
        background-image: radial-gradient(#003324 5%, #000000 75%);
    }
}


// ----------Groupe des 3 arbres et leurs animations----------
// Postitionnement vieil arbre, avec tronc qui marche
#vieil-arbre {
    display: flexbox;
    position: absolute;
    left: 35%;
    top: 30%;
    z-index: 10;
}
#arbreVieuxTronc {
    animation: vieilArbreMarche 0.6s ease alternate infinite;
    transform-origin: top;
}
@keyframes vieilArbreMarche {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(10deg);
    }
}
// Petit arbre et gros arbre jeune (positionnement)
#petitArbre {
    position: absolute;
    left: 20%;
    top: 55%;
    transform: scale(1);
    z-index: 3;
}
#arbreJeune {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: scale(1);
    z-index: 4;
}
// Animation effet vent dans les feuilles
#petitArbreFeuille3,
#arbreJeuneFeuille3 {
    animation: arbreVent 0.5s 10 linear alternate;
    transform-box: fill-box;
}
#petitArbreFeuille2,
#arbreJeuneFeuille2 {
    animation: arbreVent 0.5s 10 linear alternate-reverse;
    transform-box: fill-box;
}
#petitArbreFeuille1,
#petitArbreFeuilleLigne,
#arbreJeuneFeuille1,
#arbreJeuneFeuillesLignes {
    animation: arbreVent 0.5s 10 linear alternate;
    transform-box: fill-box;
}
@keyframes arbreVent {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1deg);
    }
}
/* 2 arbres font "aurevoir" avec leur branche */
#petitArbreBranche,
#arbreJeuneBranche {
    animation: arbreAurevoir 0.1s 65 linear alternate;
    transform-origin: -100%;
    transform-box: fill-box;
}
@keyframes arbreAurevoir {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(15deg);
    }
}
/* 2 arbres clignotent des yeux */
#petitArbreOeilGauche,
#petitArbreOeilDroit {
    animation: clignementYeux 0.5s 1s ease-in-out alternate;
}
#arbreJeuneOeilGauche,
#arbreJeuneOeilDroit {
    animation: clignementYeux 0.2s 1.8s ease-in-out alternate;
    animation-iteration-count: 4;
}
@keyframes clignementYeux {
    from {
        ry: 1%;
    }
    to {
        ry: 0%;
    }
}

// ----------Groupe des herbes (décor)----------
#herbe {
    position: absolute;
    left: 35%;
    top: 62%;
    z-index: 5;
}
#herbe2 {
    position: absolute;
    left: 55%;
    top: 64%;
    transform: scaleX(-1);
}
#herbe3 {
    position: absolute;
    left: 85%;
    top: 62%;
}
#herbeChampignon {
    position: absolute;
    left: 65%;
    top: 75%;
    z-index: 15;
}
#herbeChampignon2 {
    position: absolute;
    left: -10%;
    top: 95%;
    z-index: 20;
    transform: scale(2);
}

/* Ambulance positionnement */
#ambulance {
    position: absolute;
    left: 69%;
    top: 40%;
    z-index: 12;
}

#carosserie{
    animation: vrombissementMoteur 0.1s ease alternate infinite;
}

.pluie {
    position: absolute;
    left: -10%;
    top: -50%;
    border-radius: 50%;
    position: absolute;
    width: 3px;
    height: 12px;
    rotate: 50deg;
    background: rgb(34, 42, 61);
    z-index: 1000;
}
// Ambulance gyrophare
.clignote {
    animation: 0.5s clignotement infinite;
}
@keyframes clignotement {
    0% {
        fill: blue;
    }
    50% {
        fill: yellow;
    }
    100% {
        fill: red;
    }
}

// ----------SCÈNE-02----------
#scene2 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    left: 0%;
    background: linear-gradient(-45deg, #ff9372, #f16b9f, #7cd1f0, #8dfce2);
	animation: degrade 5s ease infinite;
    z-index: 2000;
}

// 4 Personnages + Animations (têtes + baguettes)
#personnage1{
    position: absolute;
    left: 60%;
    top: 0%;
    z-index: 2000;
    transform:scale(0.75)
}
#personnage2{
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: 2000;
    transform:scale(0.75)
}
#personnage3{
    position: absolute;
    left: 0%;
    top: 50%;
    z-index: 2500;
    transform:scale(0.75)
}
#personnage4{
    position: absolute;
    left: 60%;
    top: 45%;
    z-index: 2500;
    transform:scale(0.75)
}
// Animation des têtes
#tete2, #tete3, #tete4 {
    transform-origin: 0px;
    animation: 0.5s mouvement_tete_perso3 infinite;
}
@keyframes mouvement_tete_perso3 {
    0%{
        transform: rotate(4deg);
    }
    50%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(4deg);
    }
}
// Animation des sorts
#sort2_1, #sort2_2,
#sort1_3,
#sort3_1, #sort3_2,
#sort4_3{
    animation: 1s mouvement_sort1 infinite;
}
#sort2_3,
#sort1_1, #sort1_2,
#sort3_3,
#sort4_1, #sort4_2{
    animation: 1s mouvement_sort2 0.5s infinite;
}
@keyframes mouvement_sort1 {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        fill: deeppink;
    }
}
@keyframes mouvement_sort2 {
    0%, 100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
        fill: darkviolet;
    }
}
#etoile2_11, #etoile2_12, #etoile2_13, #etoile2_14,
#etoile2_15,#etoile2_16, #etoile2_17, #etoile1_6, #etoile1_7,
#etoile1_8, #etoile1_9, #etoile1_10, #etoile1_11, #etoile1_12,
#etoile4_11, #etoile4_12, #etoile4_13, #etoile4_14, #etoile4_15, #etoile4_16, #etoile4_17,
#etoile3_12, #etoile3_13, #etoile3_14, #etoile3_15, #etoile3_16, #etoile3_17, #etoile3_18
{
    animation: 1s start_color 0.5s infinite;
}
@keyframes start_color {
    0%, 50%, 75%{
        opacity: 1;
    }
    25%{
        opacity: 10;
        fill: darkviolet;
    }
    100%{
        opacity: 10;
        fill: yellow;
    }
}

// Arbre + animation coupe de l'arbre
#arbre{
    position: absolute;
    left: 25%;
    top: 22%;
    z-index: 2600;
    opacity: 0;
}
#arbre_coupe{
    opacity: 0 ;
}

// Nuage (positionnement)
#cloud{
    position: absolute;
    opacity: 0;
    left: 15%;
    top: 5%;
    z-index: 2900;
}

#t1{
    position: absolute;
    left: 33%;
    top: 22%;
    z-index: 2600;
}
#t2{
    position: absolute;
    left: 41%; 
    top: 36%;
    z-index: 2600;
    transform:scale(0.9);
}
#t3{
    position: absolute;
    left: 43.5%;
    top: 36%;
    z-index: 2600;
    transform:scale(0.9);
}
#t4{
    position: absolute;
    left: 46%;
    top: 24%;
    z-index: 2600;
    transform:scale(0.9);
}

#convoyeur{
    position: absolute;
    left: 15%;
    top: 20%;
    z-index: 2000;
    transform:scale(0.75)
}

#boite1{
    position: absolute;
    left: 28%;
    top: 30%;
    z-index: 2450;
}
#boite2{
    position: absolute;
    left: 34%;
    top: 45%;
    z-index: 2450;
    transform:scale(0.9)
}
#boite3{
    position: absolute;
    left: 38%;
    top: 30%;
    z-index: 2450;
    transform:scale(0.95)
}
#boite4{
    position: absolute;
    left: 44%;
    top: 45%;
    z-index: 2450;
}

#boites{
opacity: 0;
}

#sort1, #sort2, #sort3, #sort4{
    opacity: 0;
} 

#rec1_1,  #rec1_3,  #rec1_6,  #rec1_8,  #rec1_10,  #rec1_12,  #rect1_14,
#rect2_1, #rect2_3, #rect2_6, #rect2_8, #rect2_10, #rect2_12,  #rect2_14{
animation: 0.5s switch_color infinite;
}
@keyframes switch_color {
0%, 100%{
    fill: #BE1622;
}
50%{
    fill: white;
}
}
#rec1_2, #rec1_4,  #rec1_7,  #rec1_5,  #rec1_9,  #rec1_11,  #rect1_13,
#rect2_2, #rect2_4, #rect2_5, #rect2_7, #rect2_9, #rect2_11, #rect2_13{
animation: 0.5s switch_color2 infinite;
}
@keyframes switch_color2 {
    0%, 100%{
        fill: white;
    }
    50%{
    fill: #BE1622;
}
}


// ----------SCÈNE-03----------
#scene3 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    left: 0%;
    z-index: 3000;
}
// Ciel (positionnement + couleur)
#cielClair {
    height: 70vh;
    background: linear-gradient(to top, #000, #2D3F53, #2D3F53, #07152c);
}
// Silhouette de la ville (positionnement)
#silhouetteVille{
        position: absolute;
        top: 44%;
        z-index: 3000;
        animation: arbreJeuneParallax 30s -10s linear infinite;
}
// Sol derrière la route (positionnement)
#solNuit{
    height: 10vh;
    background-image: linear-gradient(#012b00, #00202B);
}
// Route (positionnement)
#route {
    height: 20vh;
    background-image: linear-gradient(#3C393F, #242021);
}
// Lignes jaunes + animation (positionnement)
#lignesJaunes{
        position: absolute;
        left:30%;
        top: 85%;
        animation: ligneJaune 0.5s linear infinite;
}
@keyframes ligneJaune {
    from {
        transform: translateX(1500%) scale(1);
    }
    to {
        transform: translateX(-1400px) scale(1);
    }
}
// Arbre jeune qui sourit (positionnement + animation parallax)
#arbreJeuneSourire {
    position: absolute;
    top: 58%;
    z-index: 5000;
    animation: arbreJeuneParallax 10s 1.5s linear infinite;
}
@keyframes arbreJeuneParallax {
    from {
        transform: translateX(1000%) scale(1.7);
    }
    to {
        transform: translateX(-1000px) scale(1.7);
    }
}
#arbreJeuneBrancheSourire {
    animation: arbreAurevoir 0.1s linear alternate infinite;
    transform-origin: -100%;
    transform-box: fill-box;
}

// herbes arrière-plan (positionnement + animation parallax)
#herbeChampignonScene3 {
    position: absolute;
    top: 80%;
    z-index: 3900;
    animation: champignonParallax 1s linear infinite;
}
@keyframes champignonParallax {
    from {
        transform: translateX(1000%) scale(1.5);
    }
    to {
        transform: translateX(-1000px) scale(1.5);
    }
}
#herbeScene3 {
    position: absolute;
    top: 62%;
    z-index: 3002;
    animation: hebreParallax 1s linear infinite;
}
@keyframes hebreParallax {
    from {
        transform: translateX(500%) scale(0.5);
    }
    to {
        transform: translateX(-1000px) scale(0.5);
    }
}
#herbeChampignonScene3 {
    position: absolute;
    top: 84%;
    z-index: 3900;
    animation: champignonParallax 1s linear infinite;
}
@keyframes champignonParallax {
    from {
        transform: translateX(1000%) scale(1.5);
    }
    to {
        transform: translateX(-1000px) scale(1.5);
    }
}

// Camion de livraison (positionnement + animation)
#camionDeLivraison {
    position: absolute;
    z-index: 3055;
    left: 30%;
    top: 50%;
    animation: vrombissementMoteur 0.1s ease alternate infinite;
}
@keyframes vrombissementMoteur {
    from {
        transform: translateY(00%);
    }
    to {
        transform: translateY(1%);
    }
}
#camionRoueGauche,
#camionRoueDroite {
    animation: camionRoueTourne 0.1s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes camionRoueTourne {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
#camionRoueGauche,
#camionRoueDroite {
    animation: camionRoueTourne 0.5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
#camionGyro {
    animation: 0.5s gyroClignote infinite;
}

@keyframes gyroClignote {
    0% {
        fill: blue;
    }
    50% {
        fill: yellow;
    }
    100% {
        fill: red;
    }
}

#boiteEchoBox {
    position: absolute;
    z-index: 3050;
    left: 35%;
    top: 60%;
    animation: vrombissementMoteur 0.1s ease alternate-reverse infinite;
}
