@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: black;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

#ciel {
  height: 70vh;
  background-image: radial-gradient(#fffee0 5%, #ffbfbf 10%, #9ac9ff 25%, #121155 60%, #3b3e47 75%);
  background-position: 25% 100%;
  background-size: 1600% 800%;
  -webkit-animation: soleilCouche 5s linear;
          animation: soleilCouche 5s linear;
}

#petitArbre {
  position: absolute;
  left: 20%;
  top: 55%;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 3;
}

#arbreJeune {
  position: absolute;
  left: 5%;
  top: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 4;
}

#vieil-arbre {
  position: absolute;
  left: 35%;
  top: 25%;
  z-index: 10;
}

#arbreVieuxTronc {
  -webkit-animation: vieilArbreMarche 0.5s ease alternate infinite;
          animation: vieilArbreMarche 0.5s ease alternate infinite;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#herbe {
  position: absolute;
  left: 35%;
  top: 65%;
  z-index: 5;
}

#herbe2 {
  position: absolute;
  left: 55%;
  top: 60%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

#herbe3 {
  position: absolute;
  left: 85%;
  top: 62%;
}

#herbeChampignon {
  position: absolute;
  left: 65%;
  top: 75%;
  z-index: 15;
}

#herbeChampignon2 {
  position: absolute;
  left: -10%;
  top: 95%;
  z-index: 20;
  -webkit-transform: scale(2);
          transform: scale(2);
}

/* Animatin couché de soleil */
@-webkit-keyframes soleilCouche {
  from {
    background-position: 45% 40%;
    background-size: 300% 800%;
  }
  to {
    background-position: 25% 100%;
    background-size: 1600% 800%;
  }
}
@keyframes soleilCouche {
  from {
    background-position: 45% 40%;
    background-size: 300% 800%;
  }
  to {
    background-position: 25% 100%;
    background-size: 1600% 800%;
  }
}

/* Animation ombrage sol */
#sol {
  height: 30vh;
  background-image: radial-gradient(#003324 5%, #000000 75%);
  background-position: 50% 20%;
  background-size: 150% 150%;
  -webkit-animation: solOmbre 5s linear;
          animation: solOmbre 5s linear;
}

@-webkit-keyframes solOmbre {
  0% {
    background-image: radial-gradient(#9dff00 5%, #1c3a18 75%);
  }
  10% {
    background-image: radial-gradient(#8ee600 5%, #1c3a18 75%);
  }
  20% {
    background-image: radial-gradient(#78c200 5%, #1c3a18 75%);
  }
  30% {
    background-image: radial-gradient(#395c00 5%, #1c3a18 75%);
  }
  40% {
    background-image: radial-gradient(#3a5e00 5%, #1c3a18 75%);
  }
  50% {
    background-image: radial-gradient(#243a00 5%, #1c3a18 75%);
  }
  60% {
    background-image: radial-gradient(#1f3300 5%, #143110 75%);
  }
  70% {
    background-image: radial-gradient(#003314 5%, #14360f 75%);
  }
  80% {
    background-image: radial-gradient(#002710 5%, #0b2707 75%);
  }
  90% {
    background-image: radial-gradient(#003314 5%, #061b03 75%);
  }
  100% {
    background-image: radial-gradient(#003324 5%, #000000 75%);
  }
}

@keyframes solOmbre {
  0% {
    background-image: radial-gradient(#9dff00 5%, #1c3a18 75%);
  }
  10% {
    background-image: radial-gradient(#8ee600 5%, #1c3a18 75%);
  }
  20% {
    background-image: radial-gradient(#78c200 5%, #1c3a18 75%);
  }
  30% {
    background-image: radial-gradient(#395c00 5%, #1c3a18 75%);
  }
  40% {
    background-image: radial-gradient(#3a5e00 5%, #1c3a18 75%);
  }
  50% {
    background-image: radial-gradient(#243a00 5%, #1c3a18 75%);
  }
  60% {
    background-image: radial-gradient(#1f3300 5%, #143110 75%);
  }
  70% {
    background-image: radial-gradient(#003314 5%, #14360f 75%);
  }
  80% {
    background-image: radial-gradient(#002710 5%, #0b2707 75%);
  }
  90% {
    background-image: radial-gradient(#003314 5%, #061b03 75%);
  }
  100% {
    background-image: radial-gradient(#003324 5%, #000000 75%);
  }
}

/* Animation des feuilles des arbres (effet vent) */
#petitArbreFeuille3, #arbreJeuneFeuille3 {
  -webkit-animation: arbreVent 0.5s 10 linear alternate;
          animation: arbreVent 0.5s 10 linear alternate;
  transform-box: fill-box;
}

#petitArbreFeuille2, #arbreJeuneFeuille2 {
  animation: arbreVent 0.5s 10 linear alternate-reverse;
  transform-box: fill-box;
}

#petitArbreFeuille1, #petitArbreFeuilleLigne, #arbreJeuneFeuille1, #arbreJeuneFeuillesLignes {
  -webkit-animation: arbreVent 0.5s 10 linear alternate;
          animation: arbreVent 0.5s 10 linear alternate;
  transform-box: fill-box;
}

@-webkit-keyframes arbreVent {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

@keyframes arbreVent {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}

/* ANIMATION DES ARBRES */
@-webkit-keyframes vieilArbreMarche {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
    -webkit-transform: rotateX(15deg);
            transform: rotateX(15deg);
  }
}
@keyframes vieilArbreMarche {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
    -webkit-transform: rotateX(15deg);
            transform: rotateX(15deg);
  }
}

/* Animation bras des arbres (aurevoir) */
#petitArbreBranche, #arbreJeuneBranche {
  -webkit-animation: arbreAurevoir 0.1s 65 linear alternate;
          animation: arbreAurevoir 0.1s 65 linear alternate;
  -webkit-transform-origin: -100%;
          transform-origin: -100%;
  transform-box: fill-box;
}

@-webkit-keyframes arbreAurevoir {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes arbreAurevoir {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

/* Animation clignement des yeux */
#petitArbreOeilGauche, #petitArbreOeilDroit {
  -webkit-animation: clignementYeux 0.5s 1s ease-in-out alternate;
          animation: clignementYeux 0.5s 1s ease-in-out alternate;
}

#arbreJeuneOeilGauche, #arbreJeuneOeilDroit {
  -webkit-animation: clignementYeux 0.2s 1.8s ease-in-out alternate;
          animation: clignementYeux 0.2s 1.8s ease-in-out alternate;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

@-webkit-keyframes clignementYeux {
  from {
    ry: 1%;
  }
  to {
    ry: 0%;
  }
}

@keyframes clignementYeux {
  from {
    ry: 1%;
  }
  to {
    ry: 0%;
  }
}

/* Ambulance départ */
#ambulance {
  position: absolute;
  left: 66%;
  top: 40%;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  z-index: 12;
}

@-webkit-keyframes tronc-marche {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(15deg);
            transform: rotateX(15deg);
  }
}

@keyframes tronc-marche {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(15deg);
            transform: rotateX(15deg);
  }
}

#soleil {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 1200px;
  background-image: radial-gradient(#ffbb00, rgba(255, 166, 0, 0));
}

.pluie {
  position: absolute;
  left: -10%;
  top: -50%;
  border-radius: 50%;
  position: absolute;
  width: 3px;
  height: 12px;
  rotate: 50deg;
  background: #222a3d;
  z-index: 1000;
}

/* 
=====================================
|                                   |
|           imane                   |
|                                   |
=====================================
 */
.clignote {
  fill: blue;
  -webkit-animation: 0.5s clignotement infinite;
          animation: 0.5s clignotement infinite;
}

@-webkit-keyframes clignotement {
  0% {
    fill: blue;
  }
  50% {
    fill: yellow;
  }
  100% {
    fill: red;
  }
}

@keyframes clignotement {
  0% {
    fill: blue;
  }
  50% {
    fill: yellow;
  }
  100% {
    fill: red;
  }
}

.voiture {
  -webkit-animation: 0.5s mouvement_voiture infinite;
          animation: 0.5s mouvement_voiture infinite;
}

@-webkit-keyframes mouvement_voiture {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 14px);
            transform: translate(0px, 14px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes mouvement_voiture {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 14px);
            transform: translate(0px, 14px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
/*# sourceMappingURL=style.css.map */